.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

body, h1 {
    /* font-family: 'Coiny', cursive; */
    /* font-family: 'Pacifico', cursive; */
    /* font-family: 'Nanum Pen Script', cursive; */
    font-family: 'Courgette', cursive;
}

table {
    border-collapse: collapse;
    /* border: 5px solid #444; */
}

#green {
    /* background-color: #27bd28; */
    background-color: #173417;
    height: 150px;
    width: 150px;
    font-size: 80px;
    /* border: 5px solid #444; */
}

#red {
    background-color: #3f1919;
    height: 150px;
    width: 150px;
    font-size: 80px;
    /* border: 5px solid #444; */
}

#yellow {
    background-color: #595916;
    height: 150px;
    width: 150px;
    font-size: 80px;
    /* border: 5px solid #444; */
}

#blue {
    background-color: #18185c;
    height: 150px;
    width: 150px;
    font-size: 80px;
    /* border: 5px solid #444; */
}

#count {
    background-color: #343333;
    height: 150px;
    width: 150px;
    font-size: 80px;
    /* border: 5px solid #444; */
}

#onOff {
    background-color: #575757;
    height: 150px;
    width: 150px;
    font-size: 40px;
    /* border: 5px solid #444; */
}

#strict {
    background-color: #575757;
    height: 150px;
    width: 200px;
    font-size: 40px;
    /* border: 5px solid #444; */
}

#start {
    background-color: #343333;
    height: 150px;
    width: 200px;
    font-size: 70px;
    /* border: 5px solid #444; */
}
